<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulfy.master">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ContentDataRefreshActivity" />
        <activity android:name=".ui.activity.ContentDataLoaderActivity" />
        <activity android:name=".ui.activity.TabPager1Activity" />
        <activity android:name=".ui.activity.TimerActivity" />
        <activity android:name=".ui.activity.ShapeLayoutActivity" />
        <activity android:name=".ui.activity.CountryCodeActivity" />
        <activity android:name=".ui.activity.ScrollShowLinkageActivity" />
        <activity android:name=".ui.activity.TabPager2Activity" />
        <activity android:name=".ui.activity.DownloadManagerActivity" />
        <activity android:name=".ui.activity.MultiDomainPickerActivity" />
        <activity android:name=".ui.activity.DouyinActivity" />
        <activity android:name=".ui.activity.MakeGifActivity" />
        <activity android:name=".ui.activity.ObjectCacheActivity" />
        <activity android:name=".ui.activity.EventBusActivity" />
        <activity android:name=".ui.activity.TaskActivity" />
        <activity android:name=".ui.activity.TaskTransponderActivity" />
        <activity android:name=".ui.activity.ContentDataInsideLoaderActivity" />
        <activity android:name=".ui.activity.DialogProcesserActivity" />
        <activity android:name=".ui.activity.SilentProcesserActivity" />
        <activity android:name=".ui.activity.ListViewLoaderActivity" />
        <activity android:name=".ui.activity.RecyclerViewLoaderActivity" />
        <activity android:name=".ui.activity.SmartTransponderActivity" />
        <activity android:name=".ui.activity.SmartLoadDataActivity" />
        <activity android:name=".ui.activity.SmartLoadListPageActivity" />
        <activity android:name=".ui.activity.TaskExtensionActivity" />
        <activity android:name=".ui.activity.BackgrounderActivity" />
        <activity android:name=".ui.activity.AdapterActivity" />
        <activity android:name=".ui.activity.ListAdapterActivity" />
        <activity android:name=".ui.activity.RecyclerAdapterActivity" />
        <activity android:name=".ui.activity.PagerViewAdapterActivity" />
        <activity android:name=".ui.activity.PagerFragmentAdapterActivity" />
        <activity android:name=".ui.activity.Time1Activity" />
        <activity android:name=".ui.activity.DataPreLoaderActivity" />
        <activity android:name=".ui.activity.ViewsActivity" />
        <activity android:name=".ui.activity.AutoScrollActivity" />
        <activity android:name=".ui.activity.AutoScrollUpActivity" />
        <activity android:name=".ui.activity.DashLineActivity" />
        <activity android:name=".ui.activity.FlowLayoutActivity" />
        <activity android:name=".ui.activity.GridViewLayoutActivity" />
        <activity android:name=".ui.activity.ListViewLayoutActivity" />
        <activity android:name=".ui.activity.RatioLayoutActivity" />
        <activity android:name=".ui.activity.VerticalViewPagerActivity" />
        <activity android:name=".ui.activity.FingerFollowLayoutActivity" />
        <activity android:name=".ui.activity.ChartViewActivity" />
        <activity android:name=".ui.activity.EditTextClearLinkageActivity" />
        <activity android:name=".ui.activity.UiLinkageActivity" />
        <activity android:name=".ui.activity.EditTextWordCountLinkageActivity" />
        <activity android:name=".ui.activity.MultiEditTextNotEmptyLinkageActivity" />
        <activity android:name=".ui.activity.TabPager3Activity" />
        <activity android:name=".ui.activity.PasswordShowHideLinkageActivity" />
        <activity android:name=".ui.activity.ScrollAlphaLinkageActivity" />
        <activity android:name=".ui.activity.DialogActivity" />
        <activity android:name=".ui.activity.NormalDialogActivity" />
        <activity android:name=".ui.activity.PopupDialogActivity" />
        <activity android:name=".ui.activity.AlertDialogActivity" />
        <activity android:name=".ui.activity.ProgressDialogActivity" />
        <activity android:name=".ui.activity.DisableTouchActivity" />
        <activity android:name=".ui.activity.QuickPickActivity" />
        <activity android:name=".ui.activity.ImageProcessActivity" />
        <activity android:name=".ui.activity.SystemActivity" />
        <activity android:name=".ui.activity.FileChooseActivity" />
        <activity android:name=".ui.activity.ShakeActivity" />
        <activity android:name=".ui.activity.ReceiveDataActivity" />
        <activity android:name=".ui.activity.NetStateActivity" />
        <activity android:name=".ui.activity.FailRollbackActivity" />
        <activity android:name=".ui.activity.DeviceIdActivity" />
        <activity android:name=".ui.activity.DialogLayoutActivity" />
        <activity android:name=".ui.activity.AgentWebActivity" />
        <activity android:name=".ui.activity.CircleProgressActivity" />
        <activity android:name=".ui.activity.XBannerActivity" />
        <activity android:name=".ui.activity.QRCodeActivity" />
        <activity android:name=".ui.activity.ContentSearchActivity" />
        <activity android:name=".ui.activity.Splash1Activity" />
        <activity android:name=".ui.activity.Splash2Activity" />
        <activity android:name=".ui.activity.Splash3Activity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".ui.activity.UpgradeCheckActivity" />
        <activity android:name=".ui.activity.Details1Activity" />
        <activity android:name=".ui.activity.Details2Activity" />
        <activity android:name=".ui.activity.List1Activity" />
        <activity android:name=".ui.activity.List2Activity" />
        <activity
            android:name=".ui.activity.RouterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <!-- 必须配置这三个 -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 配置 scheme，可配置多个 -->
                <data
                    android:host="master.com"
                    android:scheme="ulfy" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.Guide1Activity" />
        <activity android:name=".ui.activity.Guide2Activity" />
        <activity android:name=".ui.activity.TabPager4Activity" />
        <activity android:name=".ui.activity.Time2Activity" />
        <activity android:name=".ui.activity.SplashActivity" />
        <activity android:name=".ui.activity.GuideActivity" />
        <activity android:name=".ui.activity.TabPagerActivity" />
        <activity android:name=".ui.activity.DetailsActivity" />
        <activity android:name=".ui.activity.ListActivity" />
        <activity android:name=".ui.activity.List3Activity" />
        <activity android:name=".ui.activity.NetInfoActivity" />
        <activity android:name=".ui.activity.List4Activity" />
        <activity android:name=".ui.activity.List5Activity" />
        <activity android:name=".ui.activity.ContactBookActivity" />
        <activity android:name=".ui.activity.PagerAdapterActivity" />
        <activity
            android:name=".ui.activity.CommentEditTextActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".ui.activity.VideoThumbnailActivity" />
    </application>

</manifest>